
*{
    margin: 0;
    padding: 0;   
}
.form_group{
  position: absolute; 
  top: 20px;
  right: 150px; 
}
.form{
    
    color:rgb(160, 54, 54);
    background-color: rgba(255, 255, 255, 0.212);
    height: 40px;
    width: 200px;
    font-size: 15pt;
    text-align:center;
    border-style: none;
    border-radius: 4px;
}
.btn{
    position: absolute;
    top:20px;
    right:73px;
    height:40px;
    width: 70px;
    font-size: 13pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(141, 104, 49) ;
}
.container{
    position: absolute;
    height:100%;
    width: 100%; 
    overflow: hidden;
}
.img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    height:100%;
    width: 100%;
}
.ip{
    top:50px;
    font-weight: 200;
    font-size: 20pt;
    width:400px;
    height:60px;
    position: relative;
    margin: 1% auto;
    padding: 0px;
    text-align: center;
}
h1{
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    color: rgba(255, 255, 255, 0.849);
}
.frame{
    color: rgba(186, 197, 28, 0.884);
    width:380px;
    height:480px;
    right:300px;
    top :150px;
    position: absolute;
    margin: 1% auto;
    background: rgba(255, 255, 255, 0.048);
    padding:2px;
    border-top-right-radius: 4px;
    overflow: hidden;
}
.table{
    position: absolute;
    height: 100%;
    width:100% ;
    font-size: 15pt;
    font-weight: 100px;
    border: 2px ;
    box-sizing: border-box;
    left: 5px;
}
.row{
    position: absolute;
    top:30%;
    width: 380px;
    height: 130px;
    left:10%;
    overflow: hidden;
    font-weight: 700;
}
.anim:before{
    content: '{';
    left:0;
}
.anim:after{
    content: '}';
    right:0;  
}
.anim:before, .anim:after{
    padding-top: 70px;
    top:0;
    position: absolute;
    font-size: 55px;
    line-height: 40px;
    animation: animation-one 2s infinite;
}
.jumbo{
    color: white;
    width: 380px;
    height:200px;
    margin:0px;
    padding:0px;
    text-align: center;
}
.jumbo{
    display:inline;
    float: left;
    margin: 0;
}
.line0{
    margin-bottom: 10px;
    padding-bottom: 10px;

    font-size: 35pt;
    font-weight: 200;
}
.line1{
    
    font-size: 20pt;
    padding: 10px;

}
.line2{
    font-size: 35pt;

}
.anim{
    margin:0px;
    font-weight: 90;
    font-size: 40pt;
    margin-top:0px;
    padding-top: 0px;
    text-align:center;
    list-style: none;
    animation: animation-one 2s infinite;


}
.text{
    margin-top: 0;
    line-height: 70px;
    margin: 0;
}
@keyframes animation-one{
    0%, 100%{
        opacity:0;
    }
    50%{
        opacity: 1;
    }
}
@keyframes animation-two{
    0%, 100%{
        opacity:0;
    }
    50%{
        opacity: 1;
    }
}
@keyframes animation{

    16.66%, 29.32%{
        transform: translate(0,-25%,0);
    }
    33.32%, 45.98%{
        transform: translate(0,-50%,0);
    }
    45.98%, 62.64%{
        transform: translate(0,-75%,0);
    }
    66.64%, 79.3%{
        transform: translate(0,-50%,0);
    }
    83.3%, 95.96%{
        transform: translate(0,-25%,0);
    }

}